.container{
    width: 100%;
    height: auto;
    background: #222222;
}

.head{
    width: 100%;
    display: flex;
    align-items: center;
    padding: .8rem 1.5rem;
    border-bottom: .5px solid rgba($color: #6f2598, $alpha: .5);

    p{
        font-size: 1.6rem;
        font-family: var(--font);
        font-weight: 700;
        color: var(--text-light);
    }
}