.page-block{
    padding: 2.4rem 5.2rem;
}

.page-home{
    width: 100%;
    display: flex;
    column-gap: 2rem;

    .page-home-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 20rem;

        .home-banner{
            display: flex;
            column-gap: 2rem;
        }
    }

    .page-home-aside{
        display: flex;
        width: 40%;
    }
}