.seriesEl__title{
    font-family: var(--font);
    color: var(--text-light);
    transition: color linear .5s;

    &.seriesEl__title--lg{
        width: fit-content;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: uppercase;
        
        &:hover{
            color: #f1e05a;
        }
    }
    &.seriesEl__title--sm{
        width: 18rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 1.2rem;
        font-weight: 500;
        
        &:hover{
            color: var(--nav-hover);
        }
    }
}

.seriesEl__type{
    font-family: var(--font);

    &.seriesEl__type--lg{
        font-size: 1.3rem;
        font-weight: 500;
        color: #f1e05a;
        text-transform: uppercase;
    }
}

.seriesEl__genre{
    font-family: var(--font);
    color: var(--text-light);

    &.seriesEl__genre--plain-text{
        font-size: 1.3rem;
        text-transform: capitalize;

        &:hover{
            color: var(--sec-bg);
        }

        &:not(:last-child){
            &::after{
                content: ',';
                font: inherit;
            }
        }
    }
    &.seriesEl__genre--plain-text--sm{
        font-size: 1.1rem;
        text-transform: capitalize;

        &:hover{
            color: var(--sec-bg);
        }

        &:not(:last-child){
            &::after{
                content: ',';
                font: inherit;
            }
        }
    }
}

.seriesEl__synopsis-title{
    font-family: var(--font);
    color: var(--text-light);
    font-size: 1.3rem;
}

.seriesEl__synopsis{
    font-size: 1.3rem;
    font-family: var(--font);
    color: var(--text-light);
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: .8rem;
}

.seriesEl__status{
    margin-top: .8rem;
}

.seriesEl__status,
.seriesEl__author{
    font-family: var(--font);
    color: var(--text-light);
    font-size: 1.3rem;
    text-transform: capitalize;
}