.starReview-single{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .starReview__rating{
        position: absolute;
        font-family: var(--font);
        font-size: 1.6rem;
        color : var(--text-dark);
        font-size: 500;
    }
}