.card-carousel-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.card-carousel__bg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card-carousel{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3rem 5rem;
    position: absolute;
    z-index: 2;
    background: rgba($color: #000, $alpha: .5);
    backdrop-filter: blur(10px);
}

.card-carousel__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card-carousel__left{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.card-carousel__cover{
    padding-left: 1rem;
    object-fit: contain;
}

.popular-single{
    width: 25%;
    height: 28rem;
    position: relative;
    display: flex;
    align-items: flex-start;

    .popular-single__bg{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .popular-single__content-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .7);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;

        .popular-single__crown{
            transform: rotateZ(20deg) translateX(20px);
        }

        .popular-single__head{
            margin-top: .4rem;

            strong{
                font-family: var(--font);
                font-size: 2.4rem;
                text-align: center;
            }
            p{
                font-family: var(--font);
                font-size: 1.6rem;
                text-align: center;
            }
        }
        .popular-single__series-title{
            margin-top: .8rem;
            font-family: var(--font);
            font-size: 1.6rem;
            text-align: center;
        }
    }
}

.rank-card-container{
    width: 100%;
    height: auto;
    padding: 1.2rem 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 1.4rem;

    .rank-card__number{
        width: 2.5rem;
        height: 2.5rem;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font);
        font-weight: 400;
        color: rgba($color: #d9d9d9, $alpha: .7);
        border: solid 1px rgba($color: #d9d9d9, $alpha: .7);
        font-size: 1.4rem;
        font-variant-numeric: tabular-nums;
        border-radius: .4rem;
    }

    .rank-card__thumb{
        width: 5.5rem;
        height: 7.8rem;
        img{
            border-radius: .4rem;
        }
    }

    .rank-card__content-container{
        height: 7.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .rank-card__content-genre{
        display: flex;
        align-items: baseline;
        font-family: var(--font);
        color: rgba($color: #d9d9d9, $alpha: .7);
        font-size: 700;
        font-weight: 1.3rem;
        column-gap: .2rem;
    }
}